.btn{
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    color: $white;
    letter-spacing: 2px;
    font-family: "Montserrat-Light";
    @include border-radius;
    transition: all $transition-speed-fast;
    &-green{
        background: $primary;
    }
    &-effect{
        @include box-shadow(0, 5px, 10px, rgba($black, .1));
        transition: all $transition-speed-fast;
        @include on-event{
            @include box-shadow(0, 8px, 15px, rgba($black, .15));
        }
    }
    
    @include on-event{
        transform: translateY(-3px);
    }
}