.member-box{
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    .member-img{
        img{
            width: 100%;
        }
    }
    .member-text{
        display: block;
        position: absolute;
        left: 0;
        bottom: -100%;
        width: 100%;
        padding: 20px 30px 10px;
        text-align: center;
        background-color: rgba($white, .6);
        transition: bottom $transition-speed-fast;
        .title{
            color: $gray-20;
            margin-bottom: 15px;
        }
    }
    @include on-event{
        .member-text{
            bottom: 0;
        }
    }
}