.social-content{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li{
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        a{
            display: block;
            color: $primary;
            transition: color $transition-speed-fast;
            @include on-event{
                color: lighten($primary, 15%);
            }
        }
    }
}