.text-content{
    text-align: center;
    .title, .text{
        margin-bottom: 15px;
    }
    .title{
        color: $title-color;
        font-weight: inherit;
        letter-spacing: 2px;
    }
    .text{
        color: $gray-50;
        font-weight: inherit;
        line-height: $line-height-lg;
    }
    &--secondary{
        .title{
            color: $gray-20;
        }
    }
    .business-title{
        margin-bottom: 20px;
        font-size: 32px;
        letter-spacing: 2px;
        color: $gray-30;
        font-family: "Montserrat-Black";
        font-weight: 900;
        @include mq(md){
            font-size: 50px;
        }
    }
}