// color
$black:#000;
$gray-90: #e6e6e6;
$gray-80: #cccccc;
$gray-70: #b3b3b3;
$gray-60: #999999;
$gray-50: #808080;
$gray-40: #666666;
$gray-30: #4d4d4d;
$gray-20: #333333;
$gray-10: #1a1a1a;
$white:#fff;

$body-color:    $white;
$primary:       #26af5f;
$secondary:     #4a4747;
$third-color:   #303030;

$text-color:    $third-color;

$box-gray-bg-1:    #efefef;
$box-gray-bg-2:    #f8f8f8;
$box-gray-bg-3:    #3c3c3c;


$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "primary":       $primary,
    'gray-1':       $box-gray-bg-1,
    'gray-2':       $box-gray-bg-2,
    'gray-3':       $box-gray-bg-3
  ),
  $colors
);

$title-color: #4a4747;

// bootstrap
$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$font-family-sans-serif:      "Montserrat-SemiBold", 'Montserrat-Bold',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-monospace:       'Montserrat-Regular', 'Montserrat-Light', Arial, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;
$font-family-Roboto-Regular:  'Roboto-Regular';
$font-family-button:          'Montserrat-Light';


$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * .875) !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.2 !default;
$line-height-lg:              ($line-height-base * 1.25);


// transition-speed
$transition-speed-slow:  1s;
$transition-speed-normal:  600ms;
$transition-speed-fast:  200ms;

$transition-fast:             all $transition-speed-fast ease-in-out !default;
$transition-normal:           all $transition-speed-normal ease-in-out !default;
$transition-slow:             all $transition-speed-fast ease-in-out !default;

// padding
$padding: 10px;

$padd-large: $padding * 6;
$padd-normal: $padding;
$padd-small: $padding * 0.5;